button
{
    position: relative;
    bottom: 5%;
    height: 4.5vh;
    margin-left: 5%;
    background-color: #fff;
    border-radius: 17px;
    transition: .4s;
}

button:hover
{
    background: rgb(31, 96, 174);
    box-shadow: 0 15px 20px rgba(36, 19, 153, 0.4);
    color: #fff;
    transform: translateY(-7px);
    transition: .4s;
}