button
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 5%;
    height: 4.5vh;
    padding: 1.5%;
    /* margin-left: 5%; */
    background-color: #fff;
    border-radius: 12px;
    transition: .4s;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

button:hover
{
    background: rgb(31, 96, 174);
    box-shadow: rgb(48, 96, 147) 0px 20px 50px -5px;
    color: #fff;
    transform: translateY(-7px);
    transition: .5s ease;
}