#find-style-1, #find-style-2
{
    position: relative;
    display: flex;
    width: 70%;
    padding: 1%;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;

    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    margin-bottom: 2%;

    animation-name: ascent;
    animation-duration: .5s;
    transition: 1.5s ease;

}

#find-style-1
{
    margin-top: 4%;
}

#find-style-2
{
    margin-top: 9%;
}
@keyframes ascent
{
    from 
    {
      scale: 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
    to 
    {
        scale: 1;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}