:root
{
    --fontSize: calc(1vh + 1vw);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
#title, .hFont, .hmFont, .mFont, .smFont, #find::placeholder, input, textarea, button
{
    font-family: 'Montserrat', 'Monospace', 'Courier New';
}

.hFont
{
    font-weight: 500;
    font-style: italic;
    font-size: calc(var(--fontSize) * 1.7);
}

.hmFont
{
    font-weight: lighter;
    font-size: calc(var(--fontSize) * 1.3);
}

.mFont, #find::placeholder, input, textarea, button
{
    font-weight: 300;
    font-size: calc(var(--fontSize));
}

.smFont
{
    font-weight: lighter;
    font-size: calc(var(--fontSize) * 0.8);
}