*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

section
{
    width: 100%;
    display: flex;
    position: relative;
    
}

#projectsSpace
{
    margin: 50%;
}


#buttons
{
    align-items: center;
    justify-content: space-evenly;
}

a
{
    text-decoration: none;
    color: inherit;
}