:root
{
    --index: calc(1vh + 1vw);
    --transitionBlock: .75s cubic-bezier(0.790, 0.090, 0.585, 0.425);
}

input
{
    display: none;
}

.subprojectHandler
{
    position: absolute;
    top: calc(5 * var(--index));
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    perspective: 1500px;
    padding: calc(var(--index));
    height: calc(25 * var(--index));
    width: calc(40 * var(--index));
    display: grid;
    grid-template-areas: 'Name SubNeeds SubNeeds'
                         'Name SubNeeds SubNeeds'
                         'Description SubNeeds SubNeeds'
                         'Description SubNeeds SubNeeds'
                         'BackBtn Subscribe NextBtn';
    text-align: center;
    column-gap: 5%;
    row-gap: 2%;
}

.subName
{
    grid-area: Name;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245, 0.125);
    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.subDescription
{
    grid-area: Description;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245, 0.125);
    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.subNeeds
{
    grid-area: SubNeeds;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245, 0.125);
    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

.nextBtn
{
    grid-area: NextBtn;
    margin-right: 0;
    margin-left: calc(var(--index));
    bottom: calc(-1 * var(--index));
}

.backBtn
{
    grid-area: BackBtn;
    margin-left: 0;
    margin-right: calc(var(--index));
    bottom: calc(-1 * var(--index));
}

.subscribeBtn
{
    grid-area: Subscribe;
    margin: 0;
    bottom: calc(-1 * var(--index));
}

