.projectsSpace {
    display: grid;
    grid-area: Cards;
    gap: 6%;
    margin-top: 4%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

.project
{
    cursor: pointer;
    display: grid;
    justify-items: center;
    position: relative;
    grid-template-areas: "A";
    align-items:center;
    text-align: center;
    width: 90%;
    height: 40vh;
    margin: 3%;
    min-width: 10vw;
}

.front,
.back
{
    grid-area: A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 5vh;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform .6s linear;
    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    background-color: rgb(245, 245, 245, 0.125);
    backdrop-filter: blur(5px);
}

.front
{
    vertical-align: middle;
    transform: perspective(600px) rotateY(0deg);
    margin: 5px;
}

.back
{
    transform: perspective(600px) rotateY(180deg);
    margin: 5px;
}

.backСontent
{
    width: 100%;
    text-align: center;
    top: 50%;
}

.project:hover > .front
{
    transform: perspective(600px) rotateY(-180deg);
}

.project:hover > .back
{
    transform: perspective(600px) rotateY(0deg);
}