:root
{
    --fontSize: calc(1vh + 1vw);
}

h1, h3, h5
{
    font-family: 'Monospace', 'Courier', 'Courier New';
}

h1
{
    font-size: calc(var(--fontSize) * 2.5);
}

h3
{
    font-weight: lighter;
    font-size: calc(var(--fontSize) * 1.7);
}

h5
{
    font-weight: lighter;
    font-size: calc(var(--fontSize));
}