form
{
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr  1fr;
    top: 5%;
    left: 35%;
    width: 30%;
    height: 90%;

    justify-items: center;
    align-items: center;

    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    backdrop-filter: blur(5px);
}

form button
{
    width: 80%;
    right: 2%;
}

form #header
{
    display: flex;
    background-color: rgb(236, 70, 70);
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
}

form .wrapper
{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2%;
}

form input
{
    width: 100%;
    height: 60%;
    padding: 2%;

    border: none;
    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    backdrop-filter: blur(5px);
}

form textarea
{
    width: 100%;
    height: 100%;
    padding: 2%;
    border: none;

    box-shadow: 0px 0px 26px -4px #555555;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    background-color: rgb(245, 245, 245, 0.125);
}
