nav
{
    display: flex;
    position: relative;
    grid-area: TopPanel;
    align-items: center;
    justify-content: baseline;
    margin: -2% 1.5%;
    /*TODO Сделать нормальный отступ*/
}

.button
{
    display: flex;
    position: relative;
    align-items: center;
}