{% extends "base.html" %}
{% block title %} Работали над проектом {% endblock title %}

{% block cssAndScripts %}
    {% load static%}

    <script src= {% static "/src/JScripts/scrollCinema.js" %} defer></script>
    <link rel="stylesheet" href= {% static "/css/scrollCinema.css" %}>
    <link rel="stylesheet" href= {% static "/css/blurContainer.css" %}>
    <link rel="stylesheet" href= {% static "/css/navBar.css" %}>
    <link rel="stylesheet" href= {% static "/css/fonts.css" %}>
    <link rel="stylesheet" href= {% static "/css/btn.css" %}>
    <link rel="stylesheet" href= {% static "/css/markingPages.css" %}>

{% endblock cssAndScripts %}

{% block content %}
<body style = "height: {{size}}px">
    <header style='position: absolute;'>
        <h2 class="logo"><a id="title" class="button" href={% url 'main' %}>Проекты ЧелГУ.</a></h2>
        <nav class="navigation">
            <a href={% url 'main' %}>Главная</a>
            <a href={% url 'completedProjects' %}>Выполненные проекты</a>
        </nav>
    </header>

    <div class="container">
        <section class = "gallery">
            <div class="frame frameBG">
                <div class="frameContent mFont">
                    <h2>{{nameProject.comp_project_name}}</h2>
                </div>
            </div>
            
            {% for card in cards%}
                <div class="frame">
                    <div class= {% if card.isEven %} 'textBlurLeft' {% else %} 'textBlurRight' {% endif %}>
                        <div class="frameContent mFont textLeft  blurContainer">
                            <h3>{{card.worker_post}}</h3>
                            <h4>{{card.worker_id.worker_full_name}}</h4>
                            <p>{{card.worker_description}}</p>
                        </div>
                    </div>
                </div>

                <div class="frame frameBG ">
                    <div class="frameContent mFont">
                        <img class={% if card.isEven %} "frameMedia frameMediaRight" {% else %} "frameMedia frameMediaLeft" {% endif %} src= {{card.worker_id.worker_photo.url}}>
                        
                        <!-- TODO: Нужно будет реализовать подругому, так как Django не может вставить картинку (img - это заглушка)
                            <div class={% if card.side %} "frameMedia frameMediaRight" {% else %} "frameMedia frameMediaLeft" {% endif %} style="background-image: url(/src/img/img_2.jpg);"></div> -->
                    </div>
                </div>
            {% endfor %}

        </section>
    </div>
</body>
{% endblock content %}