{% extends "base.html" %}
{% block title %} Выполненные проекты {% endblock title %}

{% block cssAndScripts %}
    {% load static%}

    <script type="text/javascript" src= {% static "/src/JScripts/gen_word_engine.js" %} defer> </script>
    <link rel="stylesheet" href= {% static "/css/background.css" %}>
    <link rel="stylesheet" href= {% static "/css/markingCP.css" %}>
    <link rel="stylesheet" href= {% static "/css/navBar.css" %}>
    <link rel="stylesheet" href= {% static "/css/find.css" %}>
    <link rel="stylesheet" href= {% static "/css/cards.css" %}>
    <link rel="stylesheet" href= {% static "/css/blurContainer.css" %}>
    <link rel="stylesheet" href= {% static "/css/fonts.css" %}>
    <link rel="stylesheet" href= {% static "/css/animation.css" %}>
    <link rel="stylesheet" href= {% static "/css/btn.css" %}>

{% endblock cssAndScripts %}

{% block content %}
    <canvas id="background" width="800" height="600"></canvas>
    <div id="marking">
        <nav>
            <a id="title" class="button" href="/">Проекты ЧелГУ.</a>
            <button id="completedProjects" class="button blurContainer mFont" ><a href="/">Главная</a></button>
            <button id="completedProjects" class="button blurContainer mFont" ><a href="completedProjects">Выполненные проекты</a></button>
        </nav>

        <input class="blurContainer" id="find" placeholder="Введите название проекта">

        <div class="projectsSpace">
            {% for card in cards %}
            <a href="/cinema" class="project">
                <div class="front hFont">
                    {{card.name}}
                </div>
                <div class="back">
                    <div class="backContent mFont">
                        {{card.content}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}