{% extends "base.html" %}
{% block title %} Выполненные проекты {% endblock title %}

{% block cssAndScripts %}
    {% load static%}

    <script type="text/javascript" src= {% static "/src/JScripts/gen_word_engine.js" %} defer> </script>

    <link rel="stylesheet" href= {% static "/css/markingPages.css" %}>
    <link rel="stylesheet" href= {% static "/css/navBar.css" %}>
    <link rel="stylesheet" href= {% static "/css/find.css" %}>
    <link rel="stylesheet" href= {% static "/css/cards.css" %}>
    <link rel="stylesheet" href= {% static "/css/blurContainer.css" %}>
    <link rel="stylesheet" href= {% static "/css/fonts.css" %}>
    <link rel="stylesheet" href= {% static "/css/btn.css" %}>

{% endblock cssAndScripts %}

{% block content %}
    <header>
        <h2 class="logo"><a id="title" class="button" href={% url 'main' %}>Проекты ЧелГУ.</a></h2>
        <nav class="navigation">
            <a href={% url 'main' %}>Главная</a>
            <a href={% url 'completedProjects' %}>Выполненные проекты</a>
        </nav>
    </header>
    <input id="find-style-2" placeholder="Введите название проекта">
    <section id="projects-space">
        {% for card in cards %}
            <a href="cinema/{{card.comp_project_id}}" class="project">
                <div class="front hFont">
                    {% if card.mediaExists %}
                    <img class="frontMedia" src= {{card.comp_project_preview.url}}>
                    {% endif %}
                    <div class="frontText">{{card.comp_project_name}}</div>
                </div>
                <div class="back">
                    <div class="backContent mFont">
                        {{card.comp_project_description}}
                    </div>
                </div>
            </a>
            {% endfor %}
    </section>
{% endblock content %}