{% extends "base.html" %}
{% block title %} Главная {% endblock title %}
{% block cssAndScripts %}
    {% load static%}

    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
        }
    }
    </script>

    <script type = "module" name="CSULogo" defer>
        import * as THREE from 'three';
        import {GLTFLoader} from 'three/addons/loaders/GLTFLoader'

        //Требуемые переменные и константы
        let logo = null,                                              //Хранилище логотипа
            canvas = document.querySelector("#preview");              //Канвас со спиралью

        const sizes = {
            width: canvas.offsetWidth / 3,
            height: canvas.offsetHeight / 1.5,
        };

        //Создаём сцену с "бесконечным" пространством
        const scene = new THREE.Scene();

        //Создаём камеру типа Перспектива с FOV 75 и 500/500
        const camera = new THREE.PerspectiveCamera(75, sizes.width / sizes.height, 0.1, 1000);
        camera.position.set(0.2, 0, 3);
        scene.add(camera);

        //Создаём отрисовщика с прозрачным фоном и сглаженными краями
        const renderer = new THREE.WebGLRenderer();
        renderer.setSize(sizes.width, sizes.height);
        renderer.setClearColor(0x000000, 0);
        renderer.domElement.setAttribute("id", "CSULogo");
        canvas.insertBefore(renderer.domElement, canvas.firstChild);

        //Создаём пространственный свет
        const aLight = new THREE.AmbientLight(0xeeeeee, 3);
        scene.add(aLight);

        //Создаём точечный свет
        const pLight = new THREE.PointLight(0xffffff, 10);
        pLight.position.set(1, 1, 2);
        scene.add(pLight);

        //Создаём загрузчик и запускаем функцию загрузги 
        const loader = new GLTFLoader();
        loader.load(
        	"/static/src/models/CSU.gltf",
        	(gltf) => {
        		logo = gltf.scene.children[0];
                logo.scale.set(2, 2, 2);
        		scene.add(logo);
        	}
        );
        //Создаём функцию анимации
        const clock = new THREE.Clock();

        renderer.render(scene, camera);

        function tick(){
            const elapsedTime = clock.getElapsedTime();
            if (logo){
                logo.rotation.y = elapsedTime;
            }
            renderer.render(scene, camera);
            window.requestAnimationFrame(tick);
        };
        tick();

        // Базовые обработчики событий для поддержки ресайза
        window.addEventListener('resize', () => {
        // Обновляем размеры
        canvas = document.querySelector("#preview");
        sizes.width = canvas.offsetWidth / 3;
        sizes.height = canvas.offsetHeight / 1.5;

        // Обновляем соотношение сторон камеры
        camera.aspect = sizes.width / sizes.height;
        camera.updateProjectionMatrix();

        // 	// Обновляем renderer
        renderer.setSize(sizes.width, sizes.height);
        renderer.setPixelRatio(Math.min(window.devicePixelRatio, 3));
        renderer.render(scene, camera);
        });

    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <script type="text/javascript" src={% static "/src/JScripts/vortexAnimation/V_constants.js" %} defer></script>
	<script type="text/javascript" src={% static "/src/JScripts/vortexAnimation/V_engine.js" %} defer></script>
    <script type="text/javascript" src={% static "/src/JScripts/themeToggle.js" %} defer></script>
    <script type="text/javascript" src= {% static "/src/JScripts/search.js" %} defer></script>
    {% comment %} <script type="text/javascript" src={% static "/src/JScripts/CSULogo.js" %} defer></script> {% endcomment %}

	<link rel="stylesheet" href={% static "/css/vortex.css" %}>

{% endblock cssAndScripts %}

{% block content %}
    <section id="themeChanger">
        <div class="dropdown-end d-flex justify-content-end pt-2 pe-3">
            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Выбор темы
            </button>
            <ul class="dropdown-menu" id="themeSwitch">
                <li class="px-1">
                    <button class="dropdown-item active rounded-2" type="button" id="lightBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill me-3" viewBox="0 0 16 16">
                            <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
                        </svg>
                        Светлая
                    </button>
                </li>
                <li><p class="dropdown-divider"></li>
                <li class="px-1">
                    <button class="dropdown-item rounded-2" type="button" id="darkBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill me-3" viewBox="0 0 16 16">
                            <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                        </svg>
                        Тёмная
                    </button>
                </li>
            </ul>
        </div>
    </section>

	<section id="preview" class="mb-5">
		<div class="container-fluid row-2 text-center">
            <canvas id="vortex" class="img-fluid" width="800" height="300">
            </canvas>
            <h1 class="fs-1">Проекты ЧелГУ</h1>
        </div>
	</section>

    <section id="about us">
        <div class="bg-body-secondary p-3">
            <h1 class="fs-1">О нас</h1>
            <p class="fs-5">Виртуальное пространство, где инновации и знания сливаются в единое целое! Наш хостинг - это результат коллективных усилий университета, предоставляющий инфраструктуру для запуска и поддержки разнообразных проектов, подпроектов и исследовательских инициатив.Мы предоставляем пространство и ресурсы для развертывания разнообразных проектов, от исследовательских и учебных до инновационных и творческих инициатив.
        </div>
        <div class="shape-container shape-line shape-position-bottom bg-body-secondary">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="10%" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,150.000000) scale(1.000000,-0.100000)" fill="white" class="svgObj">
                    <path d="M1915 1509 c-151 -35 -317 -106 -521 -222 -364 -206 -608 -307 -884
                    -363 -142 -29 -328 -38 -452 -21 l-58 7 0 -455 0 -455 1000 0 1000 0 0 760 0
                    760 -22 -1 c-13 -1 -41 -5 -63 -10z"/>
                </g>
            </svg>
        </div>
    </section>

    <section id="benefits">
        <div class="container-fluid mt-4 col-10">
            <div class="row">
                <div class="col-md-3 p-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
                            <path d="M6 1v3H1V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1zm14 12v3h-5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zM6 8v7H1V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zm14-6v7h-5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1z"/>
                        </svg>
                    </span>
                    <h3 class="fs-4 mt-3">Какие проекты могут размещаться на вашем хостинге?</h3>
                    <p class="fs-6">
                        Мы приветствуем широкий спектр проектов, включая исследования, учебные инициативы, творческие проекты и инновационные стартапы. Важно, чтобы ваш проект отражал ценности университетского сообщества.
                    </p>
                </div>
                <div class="col-md-3 p-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </span>
                    <h3 class="fs-4 mt-3">Каковы преимущества размещения проекта на вашем хостинге?</h3>
                    <p class="fs-6">
                        Наш хостинг предоставляет надежное виртуальное пространство с высокой производительностью, а также поддержку исследовательских и образовательных инициатив. Вы также будете частью активного сообщества, обмен информацией и идеями с другими проектами.
                    </p>
                </div>
                <div class="col-md-3 p-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                        </svg>
                    </span>
                    <h3 class="fs-4 mt-3">Как получить поддержку для своего проекта на вашем хостинге?</h3>
                    <p class="fs-6">
                        Мы предоставляем техническую поддержку и консультации по настройке проекта. Кроме того, у нас есть сеть сообщества, где вы можете обсудить свои идеи, найти партнеров и получить обратную связь от опытных участников.
                    </p>
                </div>
                <div class="col-md-3 p-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707m4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707m0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707m-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707"/>
                        </svg>
                    </span>
                    <h3 class="fs-4 mt-3">Какие возможности для масштабирования предоставляет ваш хостинг?</h3>
                    <p class="fs-6">
                        Наш хостинг гибко растет вместе с вашим проектом. Вы можете легко масштабировать ресурсы, добавлять новые функции и адаптировать свой проект к изменяющимся требованиям, обеспечивая его долгосрочное развитие.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h1 class="fs-1 p-2">Проекты</h1>

            <div class="container my-5 bg-light-primary border border-2 rounded-4 g-0 p-3 shadow">
                <form>
                    <div class="form-floating d-flex rounded-start" role="search">
                        <input name="search-text" class="form-control border-0 shadow-none" type="search" id="floatingSearch" placeholder="Поиск проекта" aria-label="Search">
                        <label for="floatingSearch">Поиск проекта</label>
                        <div class="vr"></div>
                        <button class="btn border-0" type="submit">Поиск</button>
                    </div>
                </form>
            </div>

        <div class="container">
            <div class="grid mt-4">
                <div class="row gy-5 gx-0 justify-content-between">
                    {% for card in cards%}
                    <div class="card shadow-lg col-sm-6 rounded-4 border-2" style=" max-height: 240px;">
                        <div class="row">
                            <div class="col-4">
                                {% if card.mediaExists %}
                                    <img class="rounded-start-4 img-fluid h-100" style="max-height: 236px;" src= {{card.photo.url}}>
                                {% else %}
                                    <img class="rounded-start-4 img-fluid h-100" style="max-height: 236px;" src={% static "/img/logo-photo.jpg" %}>
                                {% endif %}
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <span class="d-flex badge justify-content-end">
                                        {% if card.status == 'full' %}
                                            <div class="position-absolute d-flex top-0 translate-middle-y px-1 py-1 rounded-pill border-1 text-bg-success">
                                                <div class="px-1 fs-3">Набор окончен</div>
                                                <div class="vr mx-1"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                                </svg>
                                            </div>
                                        {% endif %}
                                        {% if card.status == 'process' %}
                                            <div class="position-absolute d-flex top-0 translate-middle-y px-1 py-1 rounded-pill border-1 text-bg-warning">
                                                <div class="px-1">В процессе</div>
                                                <div class="vr mx-1"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16">
                                                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                                                </svg>
                                            </div>
                                        {% endif %}
                                        {% if card.status == 'quickly' %}
                                            <div class="position-absolute d-flex top-0 translate-middle-y px-1 py-1 rounded-pill border-1 text-bg-danger">
                                                <div class="px-1">Срочно!</div>
                                                <div class="vr mx-1"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                                </svg>
                                            </div>
                                        {% endif %}
                                        {% if card.status == 'frozen' %}
                                            <div class="position-absolute d-flex top-0 translate-middle-y px-1 py-1 rounded-pill border-1 text-bg-primary">
                                                <div class="px-1">Заморожен</div>
                                                <div class="vr mx-1"></div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-circle" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0z"/>
                                                </svg>
                                            </div>
                                        {% endif %}
                                    </span>
                                    <h5 class="card-title text-center">{{card.title}}</h5>
                                    <p class="card-text d-lg-block d-none">{{card.description|truncatechars:140}}</p>
                                    <p class="card-text d-lg-none d-block">{{card.description|truncatechars:60}}</p>
                                    <a href="subProjects/{{card.pid}}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="metrics">
        <div class="shape shape-bottom shape-fluid-x text-gray-200">
            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100%" height="10%" preserveAspectRatio="xMidYMid meet" class="bg-body-secondary">
                <g transform="translate(0.000000,175.000000) scale(1.000000,-0.100000)" fill="white" class="svgObj">
                    <path d="M0 1610 l0 -389 63 -51 c79 -64 118 -83 242 -116 164 -44 405 -37
                    600 18 89 24 260 91 349 135 168 84 366 149 526 172 41 6 108 19 148 28 l72
                    17 0 288 0 288 -1000 0 -1000 0 0 -390z"/>
                </g>
            </svg>
        </div>
        <div class="container-fluid bg-body-secondary">
            <h1 class="fs-1 p-3">Единство Творческих Умов</h1>
            <div class="container-fluid col-11">
                <div class="row justify-content-around">
                    <div class="col-md-5 fs-4">
                        <p>С гордостью объявляем, что наш хостинг поддерживает целое сообщество талантливых и преданных участников. Мы вдохновляем, обучаем и совершенствуемся вместе, создавая инновационные проекты, которые изменят мир.</p>
                        <div class="row mt-4 fs-5 justify-content-center text-lg-center text-start">
                            <div class="col-xl-3">
                                <span>Участников</span><div class="d-lg-block d-none"></div>
                                <span>{{wcount}}</span>
                            </div>
                            <div class="col-xl-3">
                                <span>Проектов</span><div class="d-lg-block d-none"></div>
                                <span>{{pcount}}</span>
                            </div>
                            <div class="col-xl-5">
                                <span>Выполненных проектов</span><div class="d-lg-block d-none"></div>
                                <span>{{cpcount}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-md-block d-none">
                        <img src={% static "/img/logo-photo.jpg" %} width="60%" height="60%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="invite">
        <div class="container-fluid bg-body-secondary pt-4">
            <h1 class="fs-2 p-2 text-center">Хочешь поделиться идеей или посмотреть что сделали другие?</h1>
            <p class="p-2 fs-4 text-center">Ваш взгляд ценен! Предложите свои идеи или ознакомьтесь с тем, что уже сделали другие участники.</p>
            <div class="mt-5 pb-1 px-0 mx-0">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-3 col-sm-5 mb-3 mb-sm-0 px-3">
                        <div class="card shadow-lg p-3 h-100">
                            <div class="card-body text-center d-flex flex-column">
                                <p class="card-text d-lg-block d-none pb-5 fs-6">Здесь мы гордимся результатами творчества и инноваций в нашем университетском сообществе. Исследуйте наши успешно завершенные проекты, каждый из которых стал уникальным вкладом в наше общее научное и творческое наследие. Открывайте для себя идеи, вдохновляйтесь достижениями других участников, и подготовьтесь к собственным ярким шагам в мире инноваций.</p>
                                <p class="card-text d-lg-none d-block pb-5 fs-6">Здесь мы гордимся результатами творчества и инноваций в нашем университетском сообществе. Исследуйте наши успешно завершенные проекты, каждый из которых стал уникальным вкладом в наше общее научное и творческое наследие.</p>
                                <div class="position-absolute bottom-0 start-50 translate-middle-x pb-3">
                                    <a class="btn btn-outline-dark rounded-3 lastBtn" href={% url 'completedProjects' %}>Выполненные проекты</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-5 mb-3 mb-sm-0 px-3">
                        <div class="card shadow-lg p-3 h-100">
                        <div class="card-body text-center">
                            <p class="card-text d-lg-block d-none pb-5 fs-6">Это ваше пространство для творчества и инноваций! Нажмите на кнопку "Предложить свои проекты", чтобы внести свой вклад в уникальную мозаику идей и исследований нашего университетского хостинга. Здесь ваше видение может стать реальностью, а ваш проект - частью нашей вдохновляющей истории. Давайте вместе строить будущее, наполненное творчеством и инновациями!</p>
                            <p class="card-text d-lg-none d-block pb-5 fs-6">Это ваше пространство для творчества и инноваций! Нажмите на кнопку "Предложить свои проекты", чтобы внести свой вклад в уникальную мозаику идей и исследований нашего университетского хостинга.</p>
                            <div class="position-absolute bottom-0 start-50 translate-middle-x pb-3">
                                <button type="button" class="btn btn-outline-dark rounded-3 lastBtn" data-bs-toggle="modal" data-bs-target="#invite-prj">
                                    Предложить проект
                                </button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container-fluid">
            <h1 class="fs-1 col text-start">Контакты</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-6">
                    <h6>Контакты</h6>
                    <ul>
                        <li>Телефон: 8(351)799-71-01</li>
                        <li>Адрес: г. Челябинск, ул. Братьев Кашириных, д. 129</li>
                        <li>Почта: user@example.com</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-4">
                    <h6>Продукты</h6>
                    <ul>
                        <li>
                            <a href="https://www.csu.ru/" class="nav-link">Официальный сайт</a>
                        </li>
                        <li>
                            <a href="https://moodle.uio.csu.ru/" class="nav-link">Moodle университета</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<!-- Modal window -->
<div class="modal fade" id="invite-prj" tabindex="-1" aria-labelledby="label-invite-prj" aria-hidden="true" style="backdrop-filter: blur(10px)">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header vstack border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h1 class="modal-title fs-3" id="label-invite-prj">Предложить проект</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-floating mb-4">
                        <input name="title_project" type="text" class="form-control border-0 border-bottom rounded-0 shadow-none" id="floatingTitle" placeholder="Название проекта">
                        <label for="floatingTitle">Название проекта</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="title_organization" type="text" class="form-control border-0 border-bottom rounded-0 shadow-none" id="floatingOrganization" placeholder="Название организации">
                        <label for="floatingOrganization">Название организации</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="email" type="email" class="form-control border-0 border-bottom rounded-0 shadow-none" id="floatingEmail" placeholder="Email">
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input name="vacancy" type="text" class="form-control border-0 border-bottom rounded-0 shadow-none" id="floatingVacancy" placeholder="Кто необходим" aria-describedby="vacancyHelp">
                        <label for="floatingVacancy" class="form-label">Кто необходим</label>
                        <div id="vacancyHelp" class="form-text">Перечислите должности участников.</div>
                    </div>
                    <div class="form-floating mb-4">
                        <textarea name="description" class="form-control border-0 border-bottom rounded-0 shadow-none" id="floatingDescription" rows="3" col="4" placeholder="Описание проекта" aria-describedby="descriptionHelp"></textarea>
                        <label for="floatingDescription" class="form-label">Описание</label>
                        <div id="descriptionHelp" class="form-text">Кратко опишите идею своего проекта.</div>
                    </div>
                </div>
                <div class="modal-footer justify-content-center border-0">
                    <button type="submit" class="btn btn-outline-dark rounded-3 col modalBtn">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}