{% extends "base.html" %}
{% block title %} Подпроекты {% endblock title %}

{% block cssAndScripts %}
    {% load static%}

    <script type="text/javascript" src={% static "/src/JScripts/showSubscriptionForm.js" %} defer></script>
    <script type="text/javascript" src= {% static "/src/JScripts/gen_word_engine.js" %} defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <link rel="stylesheet" href= {% static "/css/subscriptionForm.css" %}>
    <link rel="stylesheet" href= {% static "/css/markingPages.css" %}>
    <link rel="stylesheet" href= {% static "/css/navBar.css" %}>
    <link rel="stylesheet" href= {% static "/css/cards.css" %}>
    <link rel="stylesheet" href= {% static "/css/fonts.css" %}>
    <link rel="stylesheet" href= {% static "/css/blurContainer.css" %}>
    <link rel="stylesheet" href= {% static "/css/btn.css" %}>
    
{% endblock cssAndScripts %}

{% block content %}
    <header>
        <h2 class="logo"><a id="title" class="button" href={% url 'main' %}>Проекты ЧелГУ.</a></h2>
        <nav class="navigation">
            <a href={% url 'main' %}>Главная</a>
            <a href={% url 'completedProjects' %}>Выполненные проекты</a>
        </nav>
    </header>

    <div id="marking">

        <section id="projects-space">
            {% for card in cards %}
            <div class="project">
                <div class="front hFont">{{card.subproject_name}}</div>
                <div class="back">
                    <div class="backContent">
                        <div class="backContentText mFont">
                            {{card.subproject_description}}
                        </div>
                        <button class="subscribeButton">
                            <div>Записаться</div>
                        </button>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>
        <div class="form-box login">
            <h2>Записаться</h2>
            <form action="#">
                <div class="input-box">
                    <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                    <input type="text" required>
                    <label for="">Имя</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                    <input type="text" required>
                    <label>Фамилия</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                    <input type="text" required>
                    <label>Группа</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-open"></ion-icon></span>
                    <input type="email" required>
                    <label>Почта</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="add-circle"></ion-icon></span>
                    <input type="text" required>
                    <label>О себе</label>
                </div>
                <button type="submit" class="submit-button" >Записаться</button>
            </form>
        </div>
    </div>
{% endblock content %}